@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

{background-color: black}
{color: white}

body {
    font-family: 'Fira Code', monospace;
    text-align: left;
    margin: 333x 333px 333px 333px;
    background-color: #FFFFFF
}
